body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFDF1;
}

/*  ==================== 
    Header Navigation Bar
    ====================  */
    
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 2px rgb(209, 187, 175) solid;
    padding: 2%;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap:20px;
}

/*  ==================== 
            Main
    ====================  */

main {
    flex:1;
}

.hero {
    margin:auto;
    padding: 100px;
    max-width: 1250px;
    /* background-color: #FF9644; */
}

.services {
    margin:auto;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 30px;
    border: 3px rgb(209, 187, 175) solid;
    border-radius: 1rem;
    max-width: 1250px;
}

.services h2 {
    text-align: center;
}

.services .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap:15px
}

/*  ==================== 
        Card Component
    ====================  */

    .service-card {
        padding: 10px;
        border-radius: 2rem;
        background-color: #FFCE99;
        box-shadow: 0;
        transition: box-shadow transform 0.5s;
    }

    .service-card:hover {
        box-shadow: 0 0 10px #242121;
        transform: translateY(-1.5px)
    }

/*  ==================== 
            Footer
    ====================  */

footer {
    margin-top: 5px;
    padding: 20px;
    text-align: center;
    border-top: 2px rgb(209, 187, 175) solid;
}

/*  ==================== 
    Responsiveness querry
    ====================  */

@media (max-width: 700px) {
    nav {
        flex-direction: column;
        justify-content: flex-end;
    }

    nav ul {
        flex-direction: column;
    }

    .services .container {
        grid-template-columns: auto;
    }
}