body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFDF1;
}

/*  ==================== 
    Header Navigation Bar
    ====================  */
    
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px black solid;
    padding: 2%;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap:20px;
}

/*  ==================== 
            Main
    ====================  */

main {
    flex:1;
}

.hero {
    padding: 10%;
    max-width: 90%;
    /* background-color: #FF9644; */
}

.services {
    padding: 10%;
    border: 3px black solid;
    /* border-radius: 15%; */
    max-width: 90%;
}

.services h2 {
    text-align: center;
}

.services .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap:15px
}

/*  ==================== 
        Card Component
    ====================  */

    .service-card {
        padding: 10px;
        border-radius: 20%;
        background-color: #FFCE99;
        box-shadow: 0;
        transition: box-shadow 0.3s;
    }

    .service-card:hover {
        box-shadow: 0 0 10px #242121;
    }

/*  ==================== 
            Footer
    ====================  */

footer {
    padding: 20px;
    text-align: center;
    border: 3px black solid;
}

/*  ==================== 
    Responsiveness querry
    ====================  */

@media (max-width: 700px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    .services .container {
        grid-template-columns: auto;
    }
}