body {
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width:700px) {
    nav {
        flex-direction: column;
    }
}