body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*  ==================== 
    Header Navigation Bar
    ====================  */
    
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px black solid;
    padding: 2%;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap:20px;
}

/*  ==================== 
            Main
    ====================  */

main {
    flex:1;
}

.hero {
    padding: 10%;
    max-width: 90%;
}

.services {
    padding: 10%;
    border: 2px black solid;
    max-width: 95%;
}

.services h2 {
    text-align: center;
}

.services .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

/*  ==================== 
            Footer
    ====================  */

footer {
    padding: 20px;
    text-align: center;
    border: 3px black dotted;
}

/*  ==================== 
    Responsiveness querry
    ====================  */

@media (max-width: 700px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    .services .container {
        grid-template-columns: auto;
    }
}